# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and aqcuire TLS certificates
DOMAIN=localhost
# To test the local Traefik config
# DOMAIN=localhost.tiangolo.com

# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=http://localhost
# In staging and production, set this env var to the frontend host, e.g.
# FRONTEND_HOST=https://dashboard.example.com

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Santander Challenge API"
STACK_NAME=santander-challenge-api

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,http://localhost:5000,https://localhost,https://localhost:5000"
SECRET_KEY=changethis
FIRST_SUPERUSER=admin@admin.com
FIRST_SUPERUSER_PASSWORD=admin

# Postgres
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin

GEMINI_API_KEY=changethis
